Ecuafact.Web/Ecuafact.Web.MiddleCore/Connected Services/NexusApiServices/Service52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.ecuafact.com/appdev/v1/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" />
  <xs:element name="GetDocumentsType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDocumentsTypeResult" nillable="true" type="q1:DocumentTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDeductiblesResult" nillable="true" type="q2:DeductibleTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsSate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsSateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDocumentsSateResult" nillable="true" type="q3:DocumentStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIVAType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIVATypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetIVATypeResult" nillable="true" type="q4:IVATypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="loginRequest" nillable="true" type="q5:loginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="LoginResult" nillable="true" type="q6:loginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="loginRequest" nillable="true" type="q7:loginRequest2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="Login2Result" nillable="true" type="q8:loginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="logoutRequest" nillable="true" type="q9:logoutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="LogoutResult" nillable="true" type="q10:loginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="logoutRequest" nillable="true" type="q11:tokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="ValidateTokenResult" nillable="true" type="q12:loginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="registerRequest" nillable="true" type="q13:registerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="RegisterResult" nillable="true" type="q14:loginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="profileRequest" nillable="true" type="q15:profileUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="UpdateProfileResult" nillable="true" type="q16:loginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="forgot_password">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="passwordRecoveryRequest" nillable="true" type="q17:passwordRecoveryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="forgot_passwordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="forgot_passwordResult" nillable="true" type="q18:PasswordRecoveryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change_password">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="passwordRecoveryRequest" nillable="true" type="q19:PasswordChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change_passwordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="change_passwordResult" nillable="true" type="q20:PasswordChangeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="resendEmailRequest" nillable="true" type="q21:resendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="ResendMailResult" nillable="true" type="q22:resendResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="star" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deductible" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q23:DocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDocumentAsReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q24:SetDocumentAsReceivedRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDocumentAsReceivedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="SetDocumentAsReceivedResult" nillable="true" type="q25:SetDocumentAsReceivedResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsReception">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsReceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDocumentsReceptionResult" nillable="true" type="q26:DocumentResponseXML" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDocumentDetailResult" nillable="true" type="q27:DocumentUnicoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvalidDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="star" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvalidDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetInvalidDocumentsResult" nillable="true" type="q28:InvalidDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q29:UploadFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="UploadResult" nillable="true" type="q30:UploadFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadTXT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q31:UploadFileRequestTXT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadTXTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="UploadTXTResult" nillable="true" type="q32:UploadFileResponseTXT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadXMLInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q33:UploadFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadXMLInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="UploadXMLInvoiceResult" nillable="true" type="q34:DocumentUnicoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetStatusResult" nillable="true" type="q35:StatusDocResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusOld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusOldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetStatusOldResult" nillable="true" type="q36:StatusDocResponseOld" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceptionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceptionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetReceptionStatusResult" nillable="true" type="q37:StatusReceptionDocResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q38:GetAllProductsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetProductResult" nillable="true" type="q39:GetProductResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q40:CreateProductRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="CreateProductResult" nillable="true" type="q41:CreateProductResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q42:EditProductRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="EditProductResult" nillable="true" type="q43:EditProductResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q44:DeleteProductRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="DeleteProductResult" nillable="true" type="q45:DeleteProductResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q46:GetAllCustomersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetCustomerResult" nillable="true" type="q47:GetCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q48:CreateCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="CreateCustomerResult" nillable="true" type="q49:CreateCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q50:EditCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="EditCustomerResult" nillable="true" type="q51:EditCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q52:DeleteCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="DeleteCustomerResult" nillable="true" type="q53:DeleteCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="DeleteDocumentResult" nillable="true" type="q54:DeleteDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDocumentsDeductibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q55:SetDocumentsDeductiblesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDocumentsDeductiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="SetDocumentsDeductiblesResult" nillable="true" type="q56:SetDocumentsDeductiblesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendInvalidDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="request" nillable="true" type="q57:InvalidDocumentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendInvalidDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="ResendInvalidDocumentsResult" nillable="true" type="q58:InvalidDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDeductiblesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienttoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDeductiblesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetInvoiceDeductiblesReportResult" nillable="true" type="q59:DeductiblesReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductiblesLimits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductiblesLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDeductiblesLimitsResult" nillable="true" type="q60:DeductibleLimitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetBudgetReportResult" nillable="true" type="q61:DeductibleLimitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDefaultDeductibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="registerRequest" nillable="true" type="q62:saveDefaultDeductiblesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDefaultDeductiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="SaveDefaultDeductiblesResult" nillable="true" type="q63:saveDefaultDeductiblesRespones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeductiblesLimits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="registerRequest" nillable="true" type="q64:saveDeductiblesLimitsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeductiblesLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="SaveDeductiblesLimitsResult" nillable="true" type="q65:saveDeductiblesLimitsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetServerMessageResult" nillable="true" type="q66:ServerMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginSRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="loginRequest" nillable="true" type="q67:loginSRIRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginSRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="LoginSRIResult" nillable="true" type="q68:loginSRIResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="star" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deductible" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WcfServiceApi.DataTransferObjects" minOccurs="0" name="GetDocumentsExcelResult" nillable="true" type="q69:DocumentsExcelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>